.main-services{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 120px;
}

.main-services-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.main-services-text{
    text-align: center;
    color: rgba(241, 241, 241, 1);

    font-size: 80px;
    font-weight: 500;
    line-height: 88px;
}

.main-services-description{
    letter-spacing: -0.5px;
    max-width: 900px;
    text-align: center;
    color: rgba(241, 241, 241, 1);

    font-size: 24px;
    font-weight: 500;
    line-height: 33.6px;
}

.main-services-hover{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1360px;
    height: 800px;
}

.main-services-frame{
    width: 1000px;
    height: 700px;

    background-image: url('./images/background-circle.svg');
    background-size: 100%;
}

.main-services-frame-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.main-services-frame-item-first{
    width: 500px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(120px);
    text-align: right;
    padding: 51px 63px;
    border-radius: 0px 0px 18px 0px;
    transition: all 200ms ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    opacity: 0;

    &:hover{
        opacity: 1;
    }
}

.main-services-frame-item-third{
    width: 500px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(120px);
    text-align: right;
    padding: 51px 63px;
    border-radius: 0px 18px 0px 0px;
    transition: all 200ms ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    opacity: 0;

    &:hover{
        opacity: 1;
    }
}

.main-services-frame-item-second{
    width: 500px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(120px);
    text-align: left;
    padding: 51px 63px;
    border-radius: 0px 0px 0px 18px;
    transition: all 200ms ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    opacity: 0;

    &:hover {
        opacity: 1;
    }
}

.main-services-frame-item-fourth{
    width: 500px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(120px);
    text-align: left;
    padding: 51px 63px;
    border-radius: 18px 0px 0px 0px;
    transition: all 200ms ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    opacity: 0;

    &:hover {
        opacity: 1;
    }
}

.main-services-frame-item-title{
    width: 251px;
    letter-spacing: -0.5px;
    color: rgba(241, 241, 241, 1);

    font-size: 32px;
    font-weight: 500;
    line-height: 35.2px;
    margin-bottom: 24px;
}

.main-services-frame-item-count{
    letter-spacing: -0.5px;
    color: rgba(241, 241, 241, 1);

    font-size: 16px;
    font-weight: 500;
    line-height: 17.6px;
    margin-bottom: 48px;
}

.main-services-frame-item-description{
    letter-spacing: -0.3px;
    color: rgba(241, 241, 241, 1);

    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
}

@media (max-width: 1024px) {
    .main-services-frame{
        width: 900px;
        height: 700px;
    
        background-image: url('./images/background-circle.svg');
        background-size: 100%;
    }

    .main-services-frame-item-first, .main-services-frame-item-fourth, .main-services-frame-item-third, .main-services-frame-item-second{
        width: 450px;
        height: 300px;
        padding: 41px 41px;
    }

    .main-services-frame-items{
        margin-top: 15px;
    }

    .main-services-text{
        font-size: 50px;
        line-height: 50px;
    }

    .main-services-description{
        font-size: 18px;
        line-height: 22px;
    }
}

@media (max-width: 768px) {
    .main-services-frame{
        width: 720px;
        height: 600px;
    
        background-image: url('./images/background-circle.svg');
        background-size: 100%;
    }

    .main-services-frame-items{
        margin-top: 0px;
    }

    .main-services-frame-item-first, .main-services-frame-item-fourth, .main-services-frame-item-third, .main-services-frame-item-second{
        width: 360px;
        height: 252px;
        padding: 41px 41px;
    }

    .main-services-frame-item-first{
        border-radius: 0px 0px 10px 0px;
    }

    .main-services-frame-item-fourth{
        border-radius: 10px 0px 0px 0px;
    }

    .main-services-frame-item-third{
        border-radius: 0px 10px 0px 0px;
    }

    .main-services-frame-item-second{
        border-radius: 0px 0px 0px 10px;
    }

    .main-services-frame-item-title{
        width: 251px;
        letter-spacing: -0.5px;
    
        font-size: 18px;
        line-height: 18.2px;
        margin-bottom: 14px;
    }
    
    .main-services-frame-item-count{
        letter-spacing: -0.5px;
    
        font-size: 20px;
        line-height: 20.6px;
        margin-bottom: 14px;
    }
    
    .main-services-frame-item-description{
        letter-spacing: -0.3px;
    
        font-size: 18px;
        line-height: 18.4px;
    }

    .main-services-hover{
        height: 750px;
    }

    .main-services{
        margin-bottom: 60px;
    }
}

@media (max-width: 767px) {
    .main-services-frame{
        width: 360px;
        height: 300px;
    
        background-image: url('./images/background-circle.svg');
        background-size: 100%;
    }

    .main-services-hover{
        height: 250px;
    }

    .main-services-frame-items{
        margin-top: 0px;
    }

    .main-services-frame-item-first, .main-services-frame-item-fourth, .main-services-frame-item-third, .main-services-frame-item-second{
        width: 180px;
        height: 125px;
        padding: 21px 11px;
    }

    .main-services-frame-item-first{
        border-radius: 0px 0px 8px 0px;
    }

    .main-services-frame-item-fourth{
        border-radius: 8px 0px 0px 0px;
    }

    .main-services-frame-item-third{
        border-radius: 0px 8px 0px 0px;
    }

    .main-services-frame-item-second{
        border-radius: 0px 0px 0px 8px;
    }

    .main-services-frame-item-title{
        width: 251px;
        letter-spacing: -0.5px;
    
        font-size: 12px;
        line-height: 12.2px;
        margin-bottom: 5px;
    }
    
    .main-services-frame-item-count{
        letter-spacing: -0.5px;
    
        font-size: 10px;
        line-height: 12.6px;
        margin-bottom: 8px;
    }
    
    .main-services-frame-item-description{
        letter-spacing: -0.3px;
    
        font-size: 10px;
        line-height: 10.4px;
    }
}