.footer {
    display: flex;
    flex-direction: column;

    height: 571px;

    background-image: url('./images/footer-space.png');
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    padding-top: 24px;

    position: relative;

    gap: 120px;
}

.footer__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 16px;
}

.footer__text__title {
    text-align: center;
    max-width: 654px;
    font-size: 72px;
    line-height: 79.2px;
    font-weight: 600;

    letter-spacing: -0.1px;
}

.footer__text__mail {
    font-size: 16px;
    line-height: 17.6px;
    font-weight: 500;
}

.footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.footer__list {
    display: flex;
    flex-direction: row;
    gap: 140px;
}

.footer__item {
    display: flex;
    align-items: flex-start;
}

.footer__link {
    font-size: 16px;
    line-height: 17.6px;
    font-weight: 500;
    text-decoration: none;
    color: rgba(241, 241, 241, 1);

    cursor: pointer;

    &:hover{
        opacity: 0.8;
    }
}

.footer__second__title__text {
    font-size: 32px;
    line-height: 35.2px;
    font-weight: 500;
}

.footer__up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__up__text {
    font-size: 16px;
    line-height: 19.52px;
    font-weight: 400;
}

.ellipse__back {
    position: absolute;
    top: 62%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.arrow__up {
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-3px);
    }
}

@media (max-width: 768px) {

    .footer {
        height: 500px;
    }

    .footer__text__title {
        font-size: 50px;
        line-height: 50px;
    }

    .footer__text__mail {
        font-size: 14px;
        line-height: 22px;
    }

    .footer__list {
        gap: 15px;
    }

    .footer__text {
        gap: 10px;
    }
}

@media (max-width: 767px) {
    .ellipse__back {
        width: 458px;
        height: 298px;
    }

    .footer__link {
        font-size: 10px;
        line-height: 12px;
    }

    .footer__second__title__text {
        font-size: 14px;
        line-height: 20px;
    }

    .footer__list {
        gap: 5px;
    }

    .arrow__up {
        width: 40px;
        height: 40px;
    }
}