@font-face {
  font-family: 'Instrument Sans';
  /* src: url('/fonts/instrument-sans.woff2') format('woff2'),
    url('/fonts/instrument-sans.woff') format('woff'); */
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: rgba(241, 241, 241, 1);
  background-color: rgba(0, 0, 0, 1);
  padding: 40px;
  font-family: 'Instrument Sans', sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}